
#logo{
    width: 100px;
    height: 80px;
    position: relative;
    left: 10px;
}

#cafe1{
    width: 120px;
    height:120px;
    border-radius: 100px;  
    position: relative;
    top: -920px;
    left: 350px;
}

#cafe2{
    width: 120px;
    height:120px;
    border-radius: 100px;
    position: relative;
    top: -1100px;
    left: 850px;
}

#cafe3{
    width: 120px;
    height:120px;
    border-radius: 100px;
    position: relative;
    top: -1300px;
    left: 1350px;
}
#informativo{
    width: 600px;
    height: 500px;
    background-color: white;
    position: relative;
    top: 50px;
    left: 80px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

#video{
    width: 600px;
    height: 800px;
    position: relative;
    top: -720px;
    left: 1100px;
}

#div3{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    top: -900px;
    left: 150px;
}

#div4{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    top: -1060px;
    left: 670px;
}

#div5{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    top: -1220px;
    left: 1200px;
}
#txt_img1{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    top: -1200px;
    left: 290px;
    color: blue;
}

#txt_img2{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    top: -1218px;
    left: 825px;
    color: blue;
}

#txt_img3{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    color: blue;
    top: -1235px;
    left: 1325px;
}



body {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
}

input, button {
    padding: 10px;
    width: 1000 px;
    display: flex;
    position: relative;
    top: -1100px;
    left: 850px;
    

}
label{
    display: flex;
    position: relative; 
    top: -1130px;
    left: 870px;
    
}

#resultado{
    display: flex;
    position: relative; 
    top: -1100px;
    left: 790px;
}